
	
	body 
	{
		background: rgb(229, 55, 17);
		margin-left: auto;
		margin-right: auto;
		width: 1135px;
	}
	
	header img
	{
		border-radius: 30px;
	}
	
	section 
	{
		border-radius: 10px;
		background: white;
	}
	
	#index_sec_1 
	{
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 5px;	
	}
		
	iframe
	{
		width: 740px;
		height: 375px;
	}
	
	nav ul 
	{
		padding-top: 10px;
		padding-bottom: 10px;
		background: white;
		list-style-type: none;
		border-radius: 5px;
    }
	
	nav ul li
	{
		display: inline;
	}
	
